{% extends 'parking/base.html' %}

{% block title %}Valid Passes{% endblock %}

{% block content %}

  <div class='row'>
    <div class='col'>
      <br>
      <h5>Active Passes</h5>
      <hr>
      <div class='card card-body'>
        {% if passes %}
        <div class='table-responsive'>
          <table class='table table-sm'>
            <tr>
              <th>Name</th>
              <th>Make</th>
              <th>Model</th>
              <th>Licence Plate</th>
              <th class="d-none d-sm-table-cell">Time</th>
            </tr>

            {% for pass in passes %}
            <tr>
              <td>{{pass.user}}</td>
              <td>{{pass.make}}</td>
              <td>{{pass.model}}</td>
              <td>{{pass.plate}}</td>
              <td class="d-none d-sm-table-cell">{{pass.created_at}}</td>
            </tr>
            {% endfor %}

          </table>

          {% else %}
          <h2>No Active Passes</h2>
          <h5>Check back later</h5>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

{% endblock %}